<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="description" content="在中国，资讯类移动应用的人均阅读时长是 5 分钟，而在知乎日报，这个数字是 21。以独有的方式为你提供最高质、最深度、最有收获的阅读体验。" />
  <meta name="keywords" content="知乎日报，阅读，高素质资讯。" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <title>知乎日报 - 每天3次，每次7分钟</title>
  <link rel="stylesheet" href="/zhihudaily/local-version/dist/css/style.min.css" />
  <link href="/zhihudaily/local-version/static/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/zhihudaily/local-version/favicon.ico" />
</head>
<body class="article">
  <div class="header clearfix">
    <div class="main">
      <a href="/zhihudaily/local-version/index.html"><i class="fa fa-arrow-left"></i></a>
    </div>
    <div class="aside">
      <a class="share" href="javascript:;"><i class="fa fa-share-alt"></i></a>
      <a class="collect" href="javascript:;"><i class="fa fa-star"></i></a>
      <a href="javascript:;"><i class="fa fa-commenting"></i><span class="comments"></span></a>
      <a class="like" href="javascript:;"><i class="fa fa-thumbs-up"></i><span class="likes"></span></a>
    </div>
  </div>
  <div class="article-pic">
    <img src="" alt="" />
    <span></span>
    <em></em>
  </div>
  <div class="article-content">

  </div>

  <div class="mask hide">
    <div class="share-box">
      <h4>分享</h4>
      <ul class="clearfix">
        <li>
          <!-- 平稳退化一下 如果禁了javascript仍然可以分享 -->
          <a href="http://v.t.sina.com.cn/share/share.php?url=https://ntnyq.github.io&title='我的个人博客'" target="_blank"><i class="fa fa-weibo fa-2x"></i></a>
          <span>微博</span>
        </li>
        <li>
          <a href="#"><i class="fa fa-wechat fa-2x"></i></a>
          <span>微信</span>
        </li>
        <li>
          <a href="#"><i class="fa fa-github fa-2x"></i></a>
          <span>Github</span>
        </li>
        <li>
          <a href=""><i class="fa fa-tencent-weibo fa-2x"></i></a>
          <span>腾讯微博</span>
        </li>
        <li>
          <a href=""><i class="fa fa-pencil fa-2x"></i></a>
          <span>有道云笔记</span>
        </li>
        <li>
          <a href="http://connect.qq.com/widget/shareqq/index.html?title=qqhaoyou&url=https://ntnyq.github.io&title='我的个人博客'&pics=&site=我的个人博客" target="_blank"><i class="fa fa-qq fa-2x"></i></a>
          <span>QQ</span>
        </li>
        <li>
          <a href=""><i class="fa fa-ellipsis-h fa-2x"></i></a>
          <span>更多平台</span>
        </li>
      </ul>
    </div>
  </div>
  <script src="/zhihudaily/local-version/dist/js/ajax.min.js"></script>
  <script src="/zhihudaily/local-version/dist/js/article.min.js"></script>
</body>
</html>