<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="description" content="在中国，资讯类移动应用的人均阅读时长是 5 分钟，而在知乎日报，这个数字是 21。以独有的方式为你提供最高质、最深度、最有收获的阅读体验。" />
  <meta name="keywords" content="知乎日报，阅读，高素质资讯。" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <title>知乎日报 - 每天3次，每次7分钟</title>
  <link rel="stylesheet" href="/zhihudaily/local-version/dist/css/style.min.css" />
  <link href="/zhihudaily/local-version/static/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/zhihudaily/local-version/favicon.ico" />
</head>
<body class="login-body">
  <div class="header clearfix">
    <div class="main">
      <a href="/zhihudaily/local-version/index.html"><i class="fa fa-arrow-left"></i></a>
      <span class="title">登录</span>
    </div>
  </div>

  <div class="login-content">
    <div class="logo"></div>
    <h3>使用微博登录</h3>
  </div>
  <a class="login-btn sina">
    <i class="fa fa-weibo"></i>
    <span>新浪微博</span>
  </a>
  <a class="login-btn tencent">
    <i class="fa fa-tencent-weibo"></i>
    <span>腾讯微博</span>
  </a>

  <p>知乎日报不会未经同意通过你的账号发布任何信息</p>

<!-- 这里可以写段js来确认与传递登录状态 -->
</body>
</html>