<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="description" content="在中国，资讯类移动应用的人均阅读时长是 5 分钟，而在知乎日报，这个数字是 21。以独有的方式为你提供最高质、最深度、最有收获的阅读体验。" />
  <meta name="keywords" content="知乎日报，阅读，高素质资讯。" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <title>知乎日报 - 每天3次，每次7分钟</title>
  <link rel="stylesheet" href="/zhihudaily/local-version/dist/css/style.min.css" />
  <link href="/zhihudaily/local-version/static/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/zhihudaily/local-version/favicon.ico" />
</head>
<body class="setting">
  <div class="header clearfix">
    <div class="main">
      <a href="/zhihudaily/local-version/index.html"><i class="fa fa-arrow-left"></i></a>
      <span class="title">设置</span>
    </div>
  </div>
  <div class="setting-content">
    <h3>常规</h3>
    <div class="set-item">
      <h4>自动离线下载</h4>
      <span>仅wifi下可用，自动下载最新内容</span>
      <input id="checkbox1" type="checkbox" />
      <label for="checkbox1"></label>
    </div>
    <div class="set-item">
      <h4>无图模式</h4>
      <span>2G/3G网络下不下载图片</span>
      <input id="checkbox2" type="checkbox" />
      <label for="checkbox2"></label>
    </div>
    <div class="set-item">
      <h4>大字号</h4>
      <input id="checkbox3" type="checkbox" />
      <label for="checkbox3"></label>
    </div>
    <h3>其他</h3>
    <div class="set-item">
      <h4>推送消息</h4>
      <input id="checkbox4" type="checkbox" />
      <label for="checkbox4"></label>
    </div>
    <div class="set-item">
      <h4>点评分享到微博</h4>
      <input id="checkbox5" type="checkbox" />
      <label for="checkbox5"></label>
    </div>
    <div class="set-item">
      <h4>清除缓存</h4>
    </div>
    <div class="set-item">
      <h4>检查更新</h4>
      <span>版本：2.6.2(763)</span>
    </div>
    <h3>反馈</h3>
    <div class="set-item">
      <h4>意见反馈</h4>
    </div>
  </div>
<script src="/zhihudaily/local-version/dist/js/setting.min.js"></script>
</body>
</html>