<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="description" content="在中国，资讯类移动应用的人均阅读时长是 5 分钟，而在知乎日报，这个数字是 21。以独有的方式为你提供最高质、最深度、最有收获的阅读体验。" />
  <meta name="keywords" content="知乎日报，阅读，高素质资讯。" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <title>知乎日报 - 每天3次，每次7分钟</title>
  <link rel="stylesheet" href="/zhihudaily/local-version/dist/css/style.min.css" />
  <link href="/zhihudaily/local-version/static/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/zhihudaily/local-version/favicon.ico" />
</head>
<body class="store">
  <div class="header clearfix">
    <div class="main">
      <a class="sidebar-ctrl" id="sidebar-ctrl" href="javascript:;"><i class="fa fa-navicon"></i></a>
      <span class="title"></span>
    </div>
  </div>

  <div class="content">
  <ul class="news-list clearfix">
<!--     <li><a class="news"><h3>毕业后工作的成长速度差异是如何造成的？</h3><img src="src/img/pic1.jpg" alt="毕业后工作的成长速度差异是如何造成的？"></a>
    </li> -->
</ul>

  </div>

  <div class="sidebar">
    <div class="sibebar-inner">
      <div class="user-info clearfix">
        <div class="user">
          <img src="/zhihudaily/local-version/src/img/avatar.png" alt="用户头像" />
          <span>小学生</span>
        </div>
        <div class="info">
          <a class="favorite" href="/zhihudaily/local-version/views/store.html">
            <i class="fa fa-star"></i>
            <span>我的收藏</span>
          </a>
          <a class="install">
            <i class="fa fa-download"></i>
            <span>离线下载</span>
          </a>
        </div>
      </div>
      <div class="channel">
        <a class="home" href="/zhihudaily/local-version/">
          <i class="fa fa-home"></i>
          <span>首页</span>
        </a>
        <ul>
          <li>
            <a href="javascript:;">
              <span>日常心理学</span>
              <i class="fa fa-plus"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <span>用户推荐日报</span>
              <i class="fa fa-plus"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <span>电影日报</span>
              <i class="fa fa-plus"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <span>不许无聊</span>
              <i class="fa fa-plus"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <span>设计日报</span>
              <i class="fa fa-plus"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <span>大公司日报</span>
              <i class="fa fa-plus"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <span>财经日报</span>
              <i class="fa fa-plus"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <span>互联网安全</span>
              <i class="fa fa-plus"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <span>开始游戏</span>
              <i class="fa fa-plus"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <span>音乐日报</span>
              <i class="fa fa-plus"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <span>动漫日报</span>
              <i class="fa fa-plus"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <span>体育日报</span>
              <i class="fa fa-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<script src="/zhihudaily/local-version/dist/js/ajax.min.js"></script>
<script src="/zhihudaily/local-version/dist/js/store.min.js"></script>
</body>
</html>